extends layout.pug

block append head
  link(rel='stylesheet' href='/css/test.css')

block content
  table.table.table-striped
      thead
        tr
          th(scope='col') Name
          th(scope='col') Email
          th(scope='col') Phone
          //- th(scope='col') Profile
          th(scope='col') Job
          th(scope='col') Resides in Goa
      tbody
      each m in records
        tr
        td= m.name
        td= m.email
        td= m.phone
        //- td
        //-   a#a(href=`/static/image/${m.profile}`)= m.name
        //-   img#img(src=`/static/image/${m.profile}`)
        td= m.jobType
        td= m.reside
